* {
    box-sizing: border-box;
}


.img-btn {
    padding: 15px 60px;
    background-color: #90bdcc;
    border-radius: 8px;
    font-size: 24px;
}
.img-btn:hover {
    background-color: #4da2be;
    cursor: pointer;
}
.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}
.content-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 8px;
    margin-top: 30px;
}
#img {
    margin: 50px 0px;
}
img {
    border-radius: 8px;
}
input {
    width: 500px;
    height: 50px;
    margin-bottom: 10px;
    padding-left: 10px;
    border-radius: 8px;
    border: 1px solid black;
    font-size: 16px;
}
.submit-btn {
    width: 500px;
    height: 50px;
    font-size: 24px;
    background-color: #90bdcc;
    border: 1px solid black;
    border-radius: 8px;
}
.submit-btn:hover {
    background-color: #4da2be;
    cursor: pointer;
}
#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-msg p {
    color: red;
    font-size: 18px;
}